.homepage-carsousel {
    height: 650px;
    width: 100%;

    img {
        height: 650px;
        width: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        top: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        height: 650px;
        margin: 265px auto;

        h3 {
            font-size: 64px;
        }

        p {
            font-size: 28px;
        }
    }
}
