.homepage-carsousel {
    height: 650px;
    width: 100%;

    .img {
        height: 650px;
        width: 100%;
        z-index: 1040;
        background-size: cover !important;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        top: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        height: 650px;
        margin: 265px auto;

        h3 {
            font-size: 64px;
            text-shadow: 0 0.5px 0 black;
        }

        p {
            font-size: 28px;
            text-shadow: 0 0.5px 0 black;
        }
    }

}
