.full-image-size {
    height: auto;
    width: 100%;
    max-width: 350px;
}

.client-row {
    height: 50px;
    width: 100%;
}

.client-image {
    height: 100%;
    width: 50px;
}

.table-vert {
    display: flex;
    align-items: center;
}
