.aside-container {
    padding: 0;
    height: 100%;
    z-index: 200;
    min-height: 100%;
    transition-property: width, padding, left, right;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    position: fixed;

    @media (min-width: $breakpoint-md) {
        right: -25vw !important;
    }
    @media (max-width: $breakpoint-md - 1) {
        right: -100vw !important;
    }
}

.messager-shift {
    right: 0 !important;
}

.ab-shift {
    @media (min-width: $breakpoint-md) {
        right: 25.75vw !important;
    }
    @media (max-width: $breakpoint-md - 1) {
        right: 100vw !important;
    }
}

.ab-default {
    right: 25px;
}

.chat-body {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.full-width {
    width: 100%;
}

.file-upload-container {
    width: 100%;
    background-color: #7f7f7f;
}

.upload-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    i {
        font-size: 5rem;
        float: left;
    }

    p {
        font-size: 2rem;
        float: left;
        display: flex;
        align-items: center;
    }

}

.message-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 82%;
}

.gallery-display-container {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-contact-container {
    height: 65px;
    padding: 1rem;

    &:hover {
        background-color: lighten($primary, 35);
    }

    &-image {
        height: 55px;
        width: 55px;
    }
}

.their-messages {
    width: 80%;

    img {
        height: 50px;
        width: 50px;
    }

     p {
        background-color: lighten($color: #ccc, $amount: 15);
        border-radius: 5px;
     }
}

.your-messages {
    width: 80%;

    p {
        background-color: lighten($color: $cyan, $amount: 40);
        width: 100%;
        border-radius: 5px;
    }
}
