doctype html
html(lang='en')
    head
        include ../utils/meta.pug
        title='Leap Blog | Not Found'
        style(amp-custom)
            include ../../../assets/dist/main.css
    body
        h1='400'
        h2='Not Found'
        include ../utils/noscript.pug
