doctype html
html(lang='en')
    head
        include ../utils/meta.pug
        title='Leap Blogger | Error'
        style(amp-custom)
            include ../../../assets/dist/main.css
    body
        h1='500'
        h2='Server Down'
        include ../utils/noscript.pug
