footer {
    background-color: darken($color: $blue, $amount: 30);
    color: darken($color: $white, $amount: 5);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        color: inherit;
        font-size: 36px;
    }
}
