.bg-black {
    background-color: $black !important;
}
.bg-gray-dark {
    background-color: $gray-dark !important;
}
.bg-gray {
    background-color: $gray !important;
}
.bg-gray-light {
    background-color: $gray-light !important;
}
.bg-gray-lighter {
    background-color: $gray-lighter !important;
}
.bg-gray-lightest {
    background-color: $gray-lightest !important;
}
.bg-white {
    background-color: $white !important;
}
.bg-cyan {
    background-color: $cyan !important;
}
.bg-primary {
    background-color: $brand-primary !important;
}
.bg-success {
    background-color: $brand-success !important;
}
.bg-info {
    background-color: $brand-info !important;
}
.bg-warning {
    background-color: $brand-warning !important;
}
.bg-danger {
    background-color: $brand-danger !important;
}
.bg-inherit {
    background-color: inherit !important;
}
