.practitioner-img-container {
    height: 540px;
    position: static;
    background-size: cover;
    width: 100%;
    color: white;
    @media (max-width: -1 + $breakpoint-lg) {
        background-position-x: 100%;
    }
}
.practitioner-text-container {
    width: 100%;
    padding: 5%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
.practitioner-title-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5%;

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 300;
        letter-spacing: 0px;
        text-transform: none;
    }

    p {
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: -0.25px;
        text-transform: capitalize;
        opacity: 0.7;
    }
}
