.details-container {

    .details-overlay {
        background-color: rgba(0,0,0,0.2);
    }

    .details-text {
        height: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .details-homeimage {
        height: 450px;
        background-size: cover;

        @media (max-width: -1 + $breakpoint-lg) {
            background-position-x: 50%;
            height: 375px;
        }
        -webkit-clip-path: polygon(100% 0, 100% 82%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 82%, 0 100%, 0 0);

        h1 {
            font-size: 60px;
            line-height: 60px;
            font-weight: 300;
            letter-spacing: 0px;
            text-transform: none;
            color: $white;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 100px;
        }
    }

    .no-pt {
        padding-top: 0 !important;
    }

    .related-posts {
        $post-height: 600px;
        height: $post-height;
        background-color: $gray-lighter;
        padding: 0.25rem;
        width: 100%;

        a {
            color: $gray-dark !important;
        }

        h2, h3 {
            color: $primary;
        }

        &-inner {
            height: $post-height / 3;
            width: 100%;
            padding: 0.85rem;

            &:hover {
                background-color: lighten($primary, 45) !important;
            }

            &-image {
                float: left;
                padding: 0.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    width: auto;
                    height: $post-height / 4;
                }
            }

            &-text {
                float: left;
                padding: 0.25rem;
            }

        }

    }

    .alert-details {
        background-color: #e1f5fe;

        h2, h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
        }

        ul {
            padding: 15px 0 0 20px;

            li {
                list-style-position: outside;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
    }

    .details-pgs {
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            margin: 24px 0;
        }
    }

    .sign-listings {

    }

    .related-links {
        background-color: #f7f7f7;
        padding: 24px;

        h2, h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
        }

        a {
            color: $primary;
            font-weight: 400;
            line-height: 26px;
            font-size: 18px;
            width: 100%;
        }

        p {
            font-weight: 400;
            line-height: 26px;
            font-size: 18px;
            width: 100%;
        }
    }

    .amazon-readings {
        h2, h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 0px;
            text-transform: none;
        }
    }

    .inner-link-container {

    }

}
