.service-container {
    background: linear-gradient(135deg, rgba(78,56,82,1) 0%, rgba(156,111,163,1) 100%);
    padding: 20px 40px;

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 300;
        letter-spacing: 0px;
        text-transform: none;
        text-align: center;
        padding: 50px 0;
    }

    .service-padder {
        padding: 50px 0;
    }
}

.home-indexer {
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (max-width: -1 + $breakpoint-md) {
        flex-direction: column;
        text-align: center;
    }

    h2, h3 {
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height: 1.2;
    }

    a {
        width: 225px;
        height: 47px;
        text-transform: uppercase;
        line-height: 47px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        display: flex;
        &:hover {
            background-color: $white;
            color: $black;
            border-color: $black;
        }
    }
}

.home-carosel {
    width: 100%;
    height: 550px;
    z-index: 0;

    .carousel, .carousel-inner, .carousel-item, .car-overlay {
        height: 100% !important;
    }

    .car-overlay {
        background-color: rgba(0,0,0,0.55);
        height: 100% !important;
        width: 100% !important;
        z-index: 20;
    }

    .captions {
        display: flex;
        align-items: center;
        height: 75%;
        display: block !important;

        @media (max-width: -1 + $breakpoint-md) {
            height: 95%;
        }

        h3 {
            font-size: 71px;
            line-height: 79px;
            font-weight: 300;
            letter-spacing: -2px;
        }

        p {
            line-height: 35px;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }
}

.car-image {
    background-size: cover;
    height: 100% !important;

    @media (max-width: -1 + $breakpoint-lg) {
        background-position-x: 50%;
    }
}
